<configuration>
    <appender name="LOGS_COLLECTOR" class="io.github.comrada.kafka.connect.LogsCollector" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} [%-16thread] %-5level %msg%n</pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="LOGS_COLLECTOR"/>
    </root>
    <logger name="io.github.comrada.kafka.connect.http.HttpSourceTaskConfig" level="WARN"/>
    <logger name="io.github.comrada.kafka.connect.HttpSourceConnectorConfig" level="WARN"/>
    <logger name="io.github.comrada.kafka.connect.http.auth.BasicHttpAuthenticatorConfig" level="WARN"/>
    <logger name="io.github.comrada.kafka.connect.http.auth.ConfigurableHttpAuthenticatorConfig" level="WARN"/>
    <logger name="io.github.comrada.kafka.connect.http.client.okhttp.OkHttpClient" level="DEBUG"/>
    <logger name="io.github.comrada.kafka.connect.http.client.okhttp.OkHttpClientConfig" level="WARN"/>
    <logger name="io.github.comrada.kafka.connect.http.request.template.TemplateHttpRequestFactoryConfig" level="WARN"/>
    <logger name="io.github.comrada.kafka.connect.http.response.jackson.JacksonKvRecordHttpResponseParserConfig" level="WARN"/>
    <logger name="io.github.comrada.kafka.connect.http.response.jackson.JacksonRecordParserConfig" level="WARN"/>
    <logger name="io.github.comrada.kafka.connect.http.response.timestamp.DateTimeFormatterTimestampParserConfig" level="WARN"/>
    <logger name="io.github.comrada.kafka.connect.http.response.timestamp.NattyTimestampParserConfig" level="WARN"/>
    <logger name="io.github.comrada.kafka.connect.http.response.timestamp.EpochMillisOrDelegateTimestampParserConfig" level="WARN"/>
    <logger name="io.github.comrada.kafka.connect.http.response.PolicyHttpResponseParserConfig" level="WARN"/>
    <logger name="io.github.comrada.kafka.connect.http.response.StatusCodeHttpResponsePolicyConfig" level="WARN"/>
    <logger name="io.github.comrada.kafka.connect.http.response.KvHttpResponseParserConfig" level="WARN"/>
    <logger name="io.github.comrada.kafka.connect.http.record.OrderDirectionSourceRecordSorterConfig" level="WARN"/>
    <logger name="io.github.comrada.kafka.connect.http.record.SourceRecordMapperConfig" level="WARN"/>
    <logger name="io.github.comrada.kafka.connect.timer.FixedIntervalTimerConfig" level="WARN"/>
    <logger name="io.github.comrada.kafka.connect.timer.AdaptableIntervalTimerConfig" level="WARN"/>
    <logger name="io.github.comrada.kafka.connect.http.response.transform.JsltBodyTransformer" level="DEBUG"/>
    <logger name="com.joestelmach.natty" level="WARN"/>
</configuration>
